body {
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    display: flex; /* Use flexbox to horizontally and vertically center the container div */
    justify-content: center; /* Center the container div horizontally */
    align-items: center; /* Center the container div vertically */
    gap: 2%; /* Add a small gap between the square divs */
}

/* Sets the display property of the container div to grid and creates a 30x30 grid */
#container {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    margin: 0 100px 0 0;

    border: 22px solid #335a99;
    border-radius: 22px;
  }
  
  /* Defines the size and border of each square div */
  .square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }

  button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buttons {
    flex: 1;
    text-align: center;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #new-grid-button {
    margin-bottom: 10px;
  }
  
  #clear-grid-button {
    margin-bottom: 10px;
  }